flush /opt/app/current/conf/caddy/caddyfile << CADDYFILE_EOF
:80 {
  {{- if getv "/env/auth.enabled" "false" }}
  basicauth / "{{ getv "/env/auth.username" "admin" }}" "{{ getv "/env/auth.password" "admin" }}"
  {{- end }}
  root /data/caddy/data
  browse
  gzip
  tls off
}
CADDYFILE_EOF
